body 
{
	margin: 10px;
	background-color: #c6c6c6;
	font-family: arial;
}

table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td
{
	padding: 4px;
}

th
{
	background-color: #aaaaaa;
}

td
{
	background-color: #bcbabc;
}

a.taskButton:link, a.taskButton:visited, a.taskButton:active
{
	color: black;
	font-size:1.2em;
	text-decoration: none;
	background-color: #aaaaaa;
	padding: 5px;
	border: 1px solid #bcbabc;
}

a.taskButton:hover
{
	background-color:#b98ad1;
}

form
{
	background-color: #ecebef;
	border: 1px solid #f4eff7;
	padding: 5px;
}

p.message 
{
	color: red;
	padding: 4px;
	border: 1px solid red;
}

a.order:link, a.order:visited, a.order:active
{
	color:black;
	text-decoration: none;
}

a.order:hover
{
	color: #b98ad1;
}